/* https://developer.mozilla.org/en-US/docs/Learn/Performance/CSS */

*{
    --main-color: #000000;
    --main-dark-color: #ffffff;
    --accent-color: #deb465;
    --dark-accent-color: #b69d72;

    --default-space: 20px;
    --half-space: 10px;
    --double-space: 40px;

    --default-inner-column-perc: 80%;
    --smaller-inner-column-perc: 80%;

    position: relative;

    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    color: var(--main-color);
    margin: 0px;
}

body{
    margin: 0;
}

.flexbox{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

div.section{
    padding: var(--default-space) 0px;
}

/* Headings & Text */
h1, h2, h3, h4, h5, h6, .faq-title{
    font-family: "Montserrat", system-ui;
    font-weight: 500;
    letter-spacing: 0.2rem;
    line-height: 1.2em;

    margin-bottom: var(--half-space);
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2.25rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.75rem;
}
h5{
    font-size: 1.5rem;
}
h6{
    font-size: 1.25rem;
}

p{
    margin-bottom: var(--half-space);
}

p.subtitle{
    margin-bottom: var(--default-space);
}

.dark-bg *{
    color: var(--main-dark-color);
}

/* Buttons */
button{
    text-transform: uppercase;
    padding: var(--half-space) var(--default-space);
    background-color: transparent;
    border: 1.5px solid var(--main-color);
    margin: var(--default-space) 0px;
    cursor: pointer;
    max-width: 50vw;

    transition: all 0.5s ease-in-out;
}

button:hover{
    background-color: var(--main-color);
    color: var(--main-dark-color);
}

button.dark-bg{
    border-color: var(--main-dark-color);
}
button.dark-bg:hover, button.dark-bg:active, button.dark-bg:focus{
    background-color: var(--main-dark-color);
    color: var(--main-color);
}

/* Hero Section */
#hero{
    position: relative;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;

    height: 70vh;
}

#hero > div{
    position: initial;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;

    width: var(--default-inner-column-perc);
    margin: auto;
    
    height: 70vh;

}

#hero video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero :not(video){
    z-index: 1;
}

#hero h1, #hero h3{
    text-align: center;
}

#hero h1#logo{
    font-size: 5rem;
}
#hero h1#logo, #hero h2#subtitle{
    margin-bottom: 0px;
}

.hero-space{
    padding: var(--default-space);
}

/* Product Slider Section */
#product-slider{
    align-items: center;
    margin: 0 10%;
}

.product img{
    width: 100%;
}

/* Swiper */
.swiper {
    width: 100%;
    height: 100%;
    
    padding: var(--default-space) 0px;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-attributes{
    margin: var(--half-space) 0px;
}

.flexbox.product-selector{
    flex-direction: row;
    flex-wrap: wrap;
}

.product-info .name, .product-info .description{
    text-align: left;
}

.product-selector .dot{
    border-radius: 100%;
    width: var(--default-space);
    height: var(--default-space);
    margin: var(--half-space);
    background-color: gray;
}

.dot.red{
    background-color: crimson;
}

.dot.orange{
    background-color: darkorange;
}

.dot.yellow{
    background-color: khaki;
}

.dot.green{
    background-color: forestgreen;
}

.dot.blue{
    background-color: cornflowerblue;
}

.product-selector .dot:first-child{
    margin-left: 0px;
}

/* FAQ Module */
#faq-container{
    width: var(--default-inner-column-perc);
    margin: auto;
}

.faq-module{
    padding: var(--half-space);
    margin: var(--default-space) 0px;
    border: 1px solid var(--main-color);
}

.faq-title{
    font-size: 1.1rem;
    margin-bottom: 0;
}
.faq-description{
    transition: visibility 1s ease, opacity 1s ease, height 0.5s ease-in;
}

.faq-description.hidden{
    visibility: hidden;
    opacity: 0%;
    height: 0px;
}
.faq-module.visibile .faq-description{
    visibility: visible;
    opacity: 100%;
    height: 100%;
    margin-top: var(--half-space);
}

/* Modal */
#modal{
    display: none;    
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow-x: hidden;
    overflow-y: auto;
}

#modal.active, #modal .dialog{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#modal.active{
    background-color: rgba(0,0,0,.7);
}

#modal .dialog{
    background-color: var(--main-dark-color);
    padding: var(--double-space);
    width: 70vw;
}

#modal button{
    border: 1px solid var(--main-color);
}

/* Newsletter */
#newsletter{
    width: var(--default-inner-column-perc);
    margin: auto;
    align-items: center;
}

#newsletter input[type="email"]{
    border: 0px solid transparent;
    border-bottom: 1px solid var(--main-color);
    outline: none;
    margin-bottom: var(--half-space);
}
#newsletter input[type="email"]:active, #newsletter input[type="email"]:focus{
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

/* Strenght Section */
#strenght-points{
    align-items: center;
}

.strenght-point{
    width: var(--default-inner-column-perc);
    margin: var(--default-space);
}

.icon{
    width: 50px;
    height: 50px;
    border: 2px solid var(--main-color);
    border-radius: 100%;
    margin: var(--half-space) auto;
    transition: all 0.5s ease;
}

.icon:hover{
    background-color: var(--main-color);
}

.icon img{
    max-width: 25px;
    height: 100%;
    transition: all 0.5s ease;
}

.icon:hover img{
    filter: invert(93%) sepia(94%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}

h6.small-title{
    font-size: 1.1rem;
    margin-bottom: 0px;
}

/* Categories */
.category{
    height: 25vh;
    background-position: center;
    background-size: cover;
}

.category h3{
    color: var(--main-dark-color);
}

.category .overlay{
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: rgba(0, 0, 0, .5);

    transition: all 0.5s ease;
}
.category .overlay:hover{
    background-color: rgba(0, 0, 0, .2);
}

#cat-1{
    background-image: url("../media/img/category-section-1.jpg");
}
#cat-2{
    background-image: url("../media/img/category-section-2.jpg");
}
#cat-3{
    background-image: url("../media/img/category-section-3.jpg");
}
#cat-4{
    background-image: url("../media/img/category-section-4.jpg");
}

#arrow{
    
}

/* Desktop versions */
@media screen and (min-width: 1080px){
    #strenght-points{
        flex-direction: row;
        row-gap: var(--double-space);
        width: var(--smaller-inner-column-perc);
        margin: auto;
    }

    .faq-module{
        max-width: var(--smaller-inner-column-perc);
        margin-left: auto;
        margin-right: auto;
    }

    #categories-grid{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .category{
        width: 50%;
        height: 50vh;
    }
}

/* --------------------------------- */

/* ALT VERSION */
#hero.alt #logo{
    color: var(--accent-color);
}

#hero.alt button{
    background-color: var(--accent-color);
    color: var(--main-dark-color);
    border-color: var(--accent-color);
}

#hero.alt button:hover{
    background-color: var(--dark-accent-color);
    border-color: var(--dark-accent-color);
}

#hero.alt > div{
    justify-content: center;
    align-items: flex-start;;
    align-content: center;
}
#hero.alt .hero-space{
    padding: 0;
}

#strenght-points.alt{
    flex-direction: row;
    row-gap: var(--double-space);
    width: var(--smaller-inner-column-perc);
    margin: auto;
}

#strenght-points.alt .strenght-point:first-of-type{
    margin-left: 0;
}
#strenght-points.alt .strenght-point:last-of-type{
    margin-right: 0;
}

#strenght-points.alt .icon{
    transition-duration: 0.8s;
    transition-property: transform;
    margin: 0 0 var(--half-space) 0;
    border-color: var(--accent-color);
}

#strenght-points.alt .icon img{
    filter: invert(73%) sepia(76%) saturate(286%) hue-rotate(352deg) brightness(89%) contrast(94%);
}

#strenght-points.alt .strenght-point:hover .icon{
    transform: rotateY(360deg);
}

#product-slider.alt p, #faq-section.alt .faq-title, #faq-section.alt .faq-description, #newsletter.alt h3, #newsletter.alt label, #newsletter.alt input[type="email"],
#strenght-points.alt .small-title, #strenght-points.alt p, #categories-grid.alt h3{
    text-align: left;
}
#product-slider.alt, #faq-section.alt, #newsletter.alt{
    align-items: flex-start;
}

#faq-section.alt{
    width: var(--default-inner-column-perc);
    margin: auto;
}
#faq-section.alt #faq-container{
    width: 100%;
    margin: 0;
}

#faq-section.alt .faq-module {
    border: 0 solid var(--main-color);
}

@media screen and (min-width: 1080px) {
    #faq-section.alt .faq-module{
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

#faq-section.alt .faq-title:after {
    content: "▼";
    color: var(--accent-color);
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    pointer-events: none;
}

#faq-section.alt .faq-module.visibile .faq-title:after{
    content: "▲";
}

#newsletter.alt .accept-box{
    display: flex;
    align-items: flex-start;
}

#newsletter.alt input[type="checkbox"]{
    margin-top: 2px;
}

#newsletter.alt label{
    text-align: left;
    margin-left: var(--half-space);
}

#newsletter.alt input[type="email"]{
    width: 100%;
    transition: all 0.5s ease;
}

#categories-grid.alt .category .overlay{
    align-items: flex-start;
    transition: all 0.5s ease;
}
#categories-grid.alt .category .overlay:hover{
    background-color: rgba(222,180,101,.2);
}

#categories-grid.alt .category h3{
    margin: 0 0 0 var(--double-space);
    color: var(--accent-color);
}
#categories-grid.alt .category .overlay:hover h3{
    color: var(--main-dark-color);
}

#product-slider.alt .swiper-scrollbar-drag{
    background: var(--accent-color);
}

#modal.alt h2{
    color: var(--accent-color);
}

#modal.alt button:hover{
    border-color: var(--dark-accent-color);
}

#newsletter.alt button:hover{
    background-color: transparent;
    border-color: var(--dark-accent-color);
    color: var(--main-color);
}

#newsletter.alt input[type="email"]:focus{
    border-color: #deb465;
}